@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}



body {
    position: absolute;
    font-family: 'Epilogue', sans-serif;
    z-index: 0;
    margin-top: 0;
}


.clearfix {
    float: none;
    clear: both;
}

#container {
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 4px 10px hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    z-index: 1;

}


#logo {
    width: 6.6%;
    height: 52.8px;
    min-width: 90px;
    margin-right: 2.7%;
    margin-left: 2.7%;
    margin-top: 2.5%;
    float: left;
}


#menu {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    color: hsl(0, 0%, 41%);

}


#menu div {
    margin-top: 3%;
    height: 25px;
    margin-right: 6%;
    height: 40px;

}

#menu div>a {
    margin-right: 5px;
}

.svg_class {
    cursor: pointer;
}

object {
    pointer-events: none;
}

#menu div a:hover {
    width: 400px;
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.user_options {
    margin-left: 30%;
}

#register {
    width: 95px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 55%);
    text-align: center;
    line-height: 40px;
    border-radius: 10px;

}

#content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
}



#panel {
    width: 40%;
    height: auto;
    margin-left: 11.5%;
    float: left;
    min-height: 600px;
    margin-bottom: 10.8%;
    margin-right: 5%;
}

h1 {
    margin-top: 12%;
    font-size: 70px;
    margin-bottom: 60px;
}

#txt {
    width: 74%;
    text-align: justify;
    margin-bottom: 8.45%;
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

#more {
    border: 0px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    background-color: #151515;
    border-radius: 10px;
    width: 29%;
    min-width: 150px;
    height: 52px;
    margin-bottom: 100px;


}

#more:hover {
    background-color: white;
    color: #151515;
    border: 1px solid #151515;
}


#clients {
    display: flex;
    flex-wrap: wrap;

}

#clients object {
    margin-right: 30px;
    margin-bottom: 30px;
}


#second_panel {
    min-width: 435px;
    min-height: 600px;
    max-width: 30%;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 10.8%;

}

#second_panel img {
    width: 100%;
    height: 100%;
}

.list_inside {
    position: absolute;
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: -1px 1px 6px hsl(0, 0%, 41%);
    font-size: 15px;
    margin-left: 6.5%;
    height: 120px;
    cursor: pointer;
    display: none;

}

.list_inside2 {
    position: absolute;
    width: 150px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: -1px 1px 6px hsl(0, 0%, 41%);
    font-size: 15px;
    margin-left: 17%;
    height: 120px;
    cursor: pointer;
    display: none;


}

.list_inside3 {
    width: 150px;
    text-decoration: none;
    display: block;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 1%;
    height: 120px;
    cursor: pointer;
    display: none;

}

.list_inside4 {
    width: 150px;
    text-decoration: none;
    display: block;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 1%;
    height: 70px;
    cursor: pointer;
    display: none;

}


li {
    margin-top: 14px;
    line-height: 10px;
    margin-left: 30px;
    color: hsl(0, 0%, 41%);
}

li object {
    display: block;
    width: 18px;
    float: left;
    margin-right: 10px;
}





footer {
    text-align: center;
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

aside {
    position: fixed;
    width: 70%;
    right: 0;
    z-index: 1;
    background-color: white;
    height: 100vh;
    box-shadow: 0px 1px 10px hsl(0, 0%, 41%);
    display: none;
}

#close_btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    cursor: pointer;

}

#mobile_container {
    display: block;
    width: 100%;
}

#mobile_container .options {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}

a {
    cursor: pointer;
}

#login2 {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
}

#register2 {

    margin-right: auto;
    margin-left: auto;
    width: 95px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 55%);
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

#register2:hover {
    cursor: pointer;
    color: #151515;
}

#more:hover {
    cursor: pointer;
}






@media (max-width: 1846px) {
    .user_options {
        margin-left: 28%;
    }
}

@media (max-width: 1559px) {
    .user_options {
        margin-left: 22%;
    }
}

@media (max-width: 1349px) {
    #menu div {

        margin-right: 5%;
    }
}

@media (max-width: 1294px) {
    #panel {
        margin-right: 0;
        min-width: 0;
        width: 30%;
    }

    h1 {
        font-size: 55px;
    }

    #second_panel {
        margin-left: 0px;
    }

    .user_options {
        margin-left: 2%;
    }


}

@media (max-width: 872px) {
    #menu {
        display: none;
    }

    #content {
        flex-flow: row wrap-reverse;
        width: 100%;
    }

    #panel {
        width: 100%;
        height: auto;
        margin-left: auto;
        min-height: 0;
        margin-right: auto;
    }


    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }

    #panel p {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #more {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #clients {
        justify-content: center;
        margin-left: 15px;
    }


    #second_panel {
        max-width: none;
        min-width: 0;
        min-height: 0;
        margin: 0;

    }

    #second_panel img {
        content: url(images/image-hero-mobile.png);
        width: 100%;
        height: 100%;


    }

    .list_inside,
    .list_inside2 {
        display: none !important;
    }

    #menu_mobile {
        cursor: pointer;
        display: block !important;
        padding: 10px;
        float: right;

    }




}